{% extends 'application.html' %}
{% block content %}
<h1 class="my-4">Задачи</h1>
<a class="btn btn-primary mb-3" href="{% url 'tasks_create' %}">Создать задачу</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            <div class="mb-3">
                <label for="{{ filter.form.status.id_for_label }}" class="form-label">
                    {{ filter.form.status.label }}
                </label>
                {{ filter.form.status }}
            </div>
            <div class="mb-3">
                <label for="{{ filter.form.executor.id_for_label }}" class="form-label">
                    {{ filter.form.executor.label }}
                </label>
                {{ filter.form.executor }}
            </div>
            <div class="mb-3">
                <label for="{{ filter.form.label_set.id_for_label }}" class="form-label">
                    {{ filter.form.label_set.label }}
                </label>
                {{ filter.form.label_set }}
            </div>
            <div class="mb-3">
                <div class="form-check">
                    {{ filter.form.self_tasks.as_widget|safe }}
                    <label class="form-check-label" for="{{ filter.form.self_tasks.id_for_label }}">
                        {{ filter.form.self_tasks.label }}
                    </label>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Показать">
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'tasks_detail' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author.get_full_name }}</td>
            <td>{{ task.executor.get_full_name }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'tasks_update' task.pk %}">Изменить</a>
                <br>
                <a href="{% url 'tasks_delete' task.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}