{% extends 'application.html' %}
{% block content %}
<h1 class="my-4">Пользователи</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя пользователя</th>
          <th>Полное имя</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'users_update' user.pk %}">Изменить</a>
            <br>
            <a href="{% url 'users_delete' user.pk %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}